body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 1rem;
  margin: 10px 20px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.image {
  position: relative;
}
.card-img-top {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.btn1 {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}
.btn2 {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}

h2,
h3 {
  font-weight: 1000;
}

.temp {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  color: white;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
